<!-- firehose track 5, lesson 13 - file created 11 jul 17 for edit/update grams -->

<!-- next 2 lines added 12 jul 17 for styling (lesson 19) -->
<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 card form">
  <h2>Edit Gram</h2>
  
  <%= simple_form_for @gram do |f| %>
    <%= f.input :message %>
    
<!-- next line added 12 jul 17 for styling (lesson 19) -->
    <%= f.input :picture %>
    
    <%= f.submit 'Update', class: 'my-btn' %>   <!-- changed 12 jul 17 for styling (lesson 19) -->
  <% end %>
</div>
